body {
    font-family: 'Space Grotesk', sans-serif;
    background: #e2e2e2;
}

form {
    padding-top: 5%;
    padding-bottom: 3%;
    width: 25%;
    margin-left: 37%;
}

.logo img {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 7%;
}

.btn {
    background-color: #7ecb5e;
    color: white;
}

.btn:hover {
    background-color: #6eb351;
    color: white;
}

h2 {
    text-transform: uppercase;
}

@media screen and (max-width: 820px) {
    h2 {
        font-size: x-large;
    }
}

@media screen and (max-width: 540px) {
    form {
        width: 50%;
        margin-left: 25%;
    }
}

@media screen and (max-width: 280px) {
    h2 {
        font-size: medium;
    }

    form {
        width: 60%;
        margin-left: 20%;
    }
}