body {
    font-family: 'Space Grotesk', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: all 0.5s ease;
}

.navbar div {
    display: flex;
}

.navbar.active {
    background: white;
}

.navbar.active .navbutton {
    margin-top: 2%;
}

.navbar.active .main-logo img {
    margin-top: 2%;
    margin-left: 80%;
    width: 65px;
}

.navbutton {
    margin-top: 6%;
    margin-right: 1%;
    border: 0;
    background: none;
    font-size: 1.1rem;
    width: 12rem; 
    height: 3rem;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.navbutton:hover {
    background-color: #e2e2e2;
    transition: ease all .1s;
    transform: scale(1.1);
}

#style-contact {
    background-color: #e2e2e2;
}

#style-login {
    background-color: #7ecb5e; 
    color: white;
}

.first {
    background: url(./img/textura\ papel\ con\ fondo.png) no-repeat center center fixed;
    background-size: cover;
    padding-top: 16%;
}

a {
    margin-top:9%;
    margin-left: 1%;
}

.main-logo {
    margin-right: 20%;
}

.main-logo img {
    margin-top: 10%;
    margin-left: 30%;
    width: 130px;
    transition: all 0.5s ease;
}

.second {
    background: url(./img/textura\ papel\ 1080px_Mesa\ de\ trabajo\ 1.jpg) no-repeat center center fixed;
    background-size: cover;
    margin-top: 5%;
}

.table {
    background: white;
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px 1px gray;
}

.table-encabezado {
    background: white; 
    text-align: center; 
    width: 90%; 
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 1rem;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 2px 2px 10px 1px gray;
}

.table thead {
    text-align: center;
}

.table td {
    text-align: left;
    padding-left: 10%;
}

#subtitulo {
    background-color: #7ecb5e;
    width: 40%;
    margin-left: 30%;
    border-radius: 0.5rem;
    padding: 0.5%;
    padding-top: 1%;
    color: white;
}

#autoridades-encabezado {
    background-color: #e5662b;
    text-align: center;
    padding: 2%;
    color: white;
}

.autoridades-fila1 {
    display: flex;
    margin-top: 5%;
    margin-left: 18%;
}

.autoridades-fila2 {
    display: flex;
    margin-top: 5%;
    margin-left: 7%;
}

.autoridades-fila3 {
    display: flex;
    margin-top: 5%;
    margin-left: 28%;
    margin-bottom: 5%;
}

.autoridades-card {
    width: 18rem;
}

.card-img-top {
    background-color: #e5662b; 
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    margin-left: 33%;
}

.card-title, .card-text {
    text-align: center;
    font-size: 90%;
    margin-top: 2%;
}

.third {
    background: url(./img/fondo2.jpg) no-repeat center center fixed;
    background-size: cover;
}

.normativas {
    background-color: #7ecb5e;
    padding: 1%;
    padding-bottom: 0;
    padding-left: 42%;
    display: flex;
}

.accordion {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    width: 80%;
}

.accordion-button, a {
    color: #7ecb5e;
    text-decoration: none;
}

.accordion-item {
    color: #7ecb5e;
    margin-top: 3%;
    box-shadow: 1px 1px 5px 1px gray;
}

footer {
    background-color: #7ecb5e;
    display: flex;
}

ul, #letra-w{
    color: white;
}

.info-contacto {
    padding: 15% 5%;
}

.social-media {
    margin: 5% 5%;
}

form {
    padding-top: 5%;
    padding-bottom: 3%;
    width: 50%;
}

.form-control {
    border-radius: 0;
}

.btn {
    border-radius: 0;
    width: 20%;
    margin-left: 80%;
}